.cursorrules
.cursor
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.test

node_modules
.claude_cache
.claude_history
.claude_history_index
.claude_history_index_v2
.claude_history_index_v3
.claude_history_index_v4
.claude_history_index_v5

#dependencies
package-lock.json
yarn.lock

#logs
logs

.DS_Store

#editor
.idea
.vscode

